<!-- Contact Section Start -->
<section class="contact-area light-bg section-padding" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="left">
                    <div class="section-title mb-30">
                        <h2 class="mb-15">¿Hablamos?</h2>
                        <div class="horizontal-line mb-20">
                            <div class="top"></div>
                            <div class="bottom"></div>
                        </div>
                        <p>There are many variations of pssges of Lorem Ipsum available, bu in some form, by</p>
                    </div>
                    <ul class="contact-text clearfix">
                        <li>
                            <i class="zmdi zmdi-phone-in-talk"></i>
                            <h4 class="montserrat weight-regular no-margin capitalize">Teléfono</h4>
                            <span><a class="montserrat weight-regular" href="tel:+34 617 629 870">+34 617 629 870</a></span>
                        </li>
                        <li>
                            <i class="zmdi zmdi-email"></i>
                            <h4 class="montserrat weight-regular no-margin capitalize">Email</h4>
                            <span><a class="montserrat weight-regular capitalize" href="mailto:margui.ruhe@gmail.com">margui.ruhe@gmail.com</a></span>
                        </li>
                        <li>
                            <i class="zmdi zmdi-home"></i>
                            <h4 class="montserrat weight-regular capitalize no-margin">Ciudad</h4>
                            <span class="montserrat weight-regular capitalize">Huelva, España</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="right">
                    <img src="/assets/img/contact.png" alt="Foto de Margui Ruhe" />
                </div>
            </div>
        </div>
    </div>
</section>

