<!-- Contact Section End -->
<!-- Footer Section Start -->
<footer class="footer bg-color-1 ptb-20">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="left floatleft">
                    <p>Copyright &copy; 2018 Margui Ruhe</p>
                </div>
                <div class="right social-link floatright">
                    <ul class="clearfix">
                        <!-- <li><a href="http://www.facebook.com" target="_blank">Facebook</a></li> -->
                        <!-- <li><a href="http://www.twitter.com" target="_blank">Twitter</a></li> -->
                        <li><a href="http://www.linkedin.com" target="_blank">Linkedin</a></li>
                        <li><a href="mailto:margui.ruhe@gmail.com" target="_blank">Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- All JS Here -->
<!-- jQuery Latest Version -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- One Page Nav JS -->
<script src="/assets/js/one-page-nav.js"></script>
<!-- Waypoints JS -->
<script src="/assets/js/waypoints.min.js"></script>
<!-- Progressbar JS -->
<script src="/assets/js/progressbar.js"></script>
<!-- Isotope -->
<script src="/assets/js/isotope.pkgd.js"></script>
<!-- Isotope -->
<script src="/assets/js/jquery.validate.min.js"></script>
<!-- Slick Slider JS -->
<script src="/assets/js/slick.min.js"></script>
<!-- Fancybox JS -->
<script src="/assets/js/jquery.fancybox.pack.js"></script>
<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>
<!-- main JS -->
<script src="/assets/js/main.js"></script>
</body>
</html>

