<!-- Loading Bar Start -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <img src="/assets/img/dark-logo.png" alt="Mim" />
            <div class="object" id="object_three"></div>
        </div>
    </div>
</div>
<!-- Loading Bar End -->
<div id="home"></div>

<!-- Header Section Start -->
<header class="header-style-1 bg-color-1">

    <%= include menu %>
    
</header>
<!-- Header Section End -->
