<div class="top clearfix">
    <div class="header-top active-sticky ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-5">
                    <div class="left">
                        <div class="logo">
                            <a href="/"><img src="/assets/img/logo.png" alt="Logo de Margui Ruhe" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-7">
                    <div class="right">
                        <div class="expand-menu-open floatright">
                            <i class="zmdi zmdi-menu"></i>
                        </div>
                        <nav class="mainmenu onepage-nev floatright">
                            <ul class="clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="/portfolio">Portfolio</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainmenu-expand bg-color-3">
        <div class="close-menu">
            <i class="zmdi zmdi-close-circle-o"></i>
        </div>
        <div class="menu-logo">
            <a href="index.html"><img src="/assets/img/logo.png" alt="Logo de Margui Ruhe" /></a>
        </div>
        <nav class="mainmenu-box onepage-nev">
            <ul class="clearfix">
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>

